<!DOCTYPE html>
<html>
    <head>
        <title>To Do List </title>
        <style>
            p { font-size: 25px;

            }

        </style>
    </head>
    <body>
        <!-- <div id="add_item">
            <form action="/add_todo_s" :method="POST">
                <select name="select_items">
                    <option value=""
            </form>
        </div> -->
        {% for item in all_data %}
        <p>{{item}}</p>
        {% endfor %}
    </body>
</html>